TA/mock/Tests/.vs/LoginTest/FileContentIndex/858d30ff-c431-4d8e-b71f-c521efb8151f.vsidx
TA/mock/Tests/.vs/LoginTest/v17/TestStore/0/000.testlog
TA/mock/Tests/.vs/LoginTest/v17/TestStore/0/testlog.manifest
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/29a188d0-9c7d-4a94-a8e7-8b595010280b.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/d748421b-85ef-4d8f-8aa7-7d47294bdc5d.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/ea817d55-3a05-4418-9842-63a7d0a3e927.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/1fe2967d-d4ab-4735-874b-8553f5ddde89.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/0f2765ff-295d-40b2-8651-509481eee82d.vsidx
TA/mock/Tests/.vs/TestAutomation/v17/TestStore/0/002.testlog
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/0c77d621-4c39-4088-8276-c54373190476.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/6e27ae14-f935-4d44-a8ed-ab4745f15cca.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/53491391-a939-4f45-9050-025ac2926b1b.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/b5c20e69-dca8-481b-b00e-0670a8dc3851.vsidx
TA/mock/Tests/.vs/TestAutomation/v17/TestStore/0/007.testlog
TA/mock/Tests/TestAutomation/obj/Debug/net8.0/TestAutomation.AssemblyInfo.cs
TA/mock/Tests/TestAutomation/obj/Debug/net8.0/TestAutomation.AssemblyInfoInputs.cache
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/57dc82be-4889-413c-96ea-bcb73eed8c97.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/442b73b7-bdc3-4e9d-85cc-fb1519ddabba.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/b2c233f1-dae8-4341-9322-5e891e5e81fb.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/ef1397d0-95a3-4da1-9adb-04ce6551665a.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/02da0e55-657f-41d5-997d-b7493adcd51a.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/312ea341-9f98-45ad-904c-289d87f6eaa2.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/776f9ac2-64fb-48e7-8c51-e3a098fa0e8d.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/8bb9cecb-c3cf-4597-90b6-31c08a54660c.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/896ac231-68e0-4276-a748-8656ca7d9b9a.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/c78cab27-768a-4696-90f4-53efc4f41141.vsidx
TA/mock/Tests/.vs/TestAutomation/FileContentIndex/c849726d-1ec0-42fd-b278-c94f306e56fa.vsidx
